<div class="social-media">
  <a class="social-media-icons" mat-fab href="https://www.linkedin.com/in/logandupont" target="blank">
    <i class="fa fa-linkedin"></i>
  </a>
  <a class="social-media-icons" mat-fab href="https://github.com/LoganDupont" target="blank">
    <i class="fa fa-github"></i>
  </a>
  <a class="social-media-icons" mat-fab href="https://twitter.com/Dupont_Logan" target="blank">
    <i class="fa fa-twitter"></i>
  </a>
  <a class="social-media-icons" mat-fab href="mailto:l.dupont@hotmail.be">
    <i class="fa fa-envelope"></i>
  </a>
</div>
