<section class="welcome">
  <div class="introduction">
    Welcome to my <br>
    personal website
  </div>
</section>
<section class="about">
  <h1>About myself</h1>
  <img class="profile" src="../assets/images/Logan_Dupont.png" alt="profile image">
  <p>
    I'm Logan, a junior JavaScript / Angular developer living in Belgium. <br>
    In my spare time I read books and try to keep up with the latest front-end news. <br>
    If you want to know more about my skills, projects and achievements please check my LinkedIn.
  </p>
</section>
<app-footer></app-footer>